/* Never change this file manually */


body, body.page-template-page-portfolio-php, body.tax-portfolio_category { background-color: white; }.widget-title span { background: rgb(251, 251, 238);}

/* background-color: rgba(251, 251, 238, 255) */

/* background-color: rgba(200, 230, 240, 255); */

/* background-color: rgba(200, 230, 249, 255); */